/* Container for the entire blog list */

.blogContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* 3 cards per row */
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 2200px;
  margin: 5% auto;
  box-sizing: border-box;
  position: relative;
  top: 10vh;
}


/* Individual blog card */
.card {
  height: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image inside each blog card */
.card img {
  border-bottom: 1px solid #f0f0f0;
}

/* Card body content */
.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40%;
}

.card-title {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #666;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.card a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

.card a:hover {
  color: #1e75bc;
  text-decoration: underline;
}

/* Load more button */
.moreBlog {
  text-align: center;
  margin: 2rem auto;
}

.moreBlog button {
  background-color: #2ecc71;
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.moreBlog button:hover {
  background-color: #27ae60;
  transform: translateY(-3px);
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .blogContainer {
    grid-template-columns: repeat(2, 1fr);
    /* 2 cards per row on medium screens */
    position: static;
    position: relative;
    top: 10vh;
  }



  .card {
    min-height: 20vh;
  }
}

@media (max-width: 768px) {
  .blogContainer {
    grid-template-columns: 1fr;
    /* 1 card per row on small screens */
    min-height: 10vh;
  }
}