*{
    box-sizing: border-box;
    margin: 0;
}
.header{
    width : 100vw;
    min-height: 10vh;
    /* border: 2px solid black; */
    display: flex;
    font-size: 10px;
    background-color: #D1E9F6;
    position: sticky;
    margin: 0%;
}

.logo{
    width: 20%;
    /* border: 2px solid black; */
    font-size: 1.7em;
    padding-left: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.tabBar{
    width: 60%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    
}
.tab{
    width: auto;
    font-size: 2em;
    margin: 0 4%;
}
.tab:hover{
    cursor: pointer;
}
.account{
    width: 30%;
   
    /* border: 2px solid black; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.account button{
    width: 10vw;
    height: 5vh;
    font-size: 40px;
    border: 5px solid rgb(155, 155, 234);
}
.account button:hover{
    cursor: pointer;
    font-size: 2.5em;
}

#hamIcon{
    width: 10%;
    display: none;
}

@media (min-width : 0px ) and (max-width : 1800px){
    .header{
        width: 100vw;
        justify-content: space-between;
        font-style: 10px;
    }
    .logo{
        width: 40%;
        font-size: 1em;
    }
    .tabBar{
        display: none;
    }
    .account{
        display: none;
    }
    i{
       display: flex;
       font-size: 2em;
       justify-content: center;
       align-content: center;

    }
    #hamIcon{
        width: 10%;
        display: block;
        justify-content: center;
        /* padding-right: 1%; */
    }
}


/* 
@media (min-width : 1200px) and (max-width : 1800px){
    .header{
        font-size: 10px;
    }
    .logo{
        width: 20%;
        font-size: 1em;
    }
    .tabBar{
        width : 60%;
        font-size : 10px;
        justify-content: center;
    }
    .tab{
        width: 20%;
        font-size: 1em;
    }
    .account{
        width: 20%;
        font-size: 10px;
    }
    i{
        display: none;
    }
    Button{
        font-size: 1em ;

    }
    #hamIcon{
        display: block;
        
    }
} */



