.showBlogContainer {
    width: 100vw;
    height: 100vh;
    /* background-color: #AD49E1; */
}

.blogContainer {
    width: 80%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

.blogContents {
    /* border: 2px solid black; */
    height: 100%;
    /* background-color:  #7A1CAC; */

}

#blogContainer1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blogContainer2 {
    width: 70%;
    display: flex;
    align-items: center;
}

.image {
    width: 80%;
    height: 50%;
    border: 2px solid red;
    margin: auto;
    box-sizing: border-box;
    background-size: contain;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    /* background-color: #7a1cacd1; */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.58);

}

.fields {
    width: 100%;
    height: max-content;
    padding: 1%;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 20px;
}
h2{
    font-size: 2em;
}
p{
    font-size: 1.89em;
}

.buttons {
    width: 80%;
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

button {
    width: 20%;
    border-radius: 50px;
    background-color: rgba(122, 122, 220, 0.696);

}

.blogContents textarea{
    width: 90%;
    height: 90%;
    padding: 2%;
    text-align: justify;
    font-size: 3em;
    background: rgba(255, 255, 255, 0.274);
    /* background-color: #7a1cacc9; */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.58);
}

